<div style="margin: 20px 40px 0px 40px;background: #FFFFFF; padding: 10px;height: 300px">
    <div style="padding: 4px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;">
        <p>Hello<strong> {{ user_name }},</strong></p>
        <p>
            You or someone else has requested that a new password be generated for your account.
            If you made this request, then click the following link to reset your password.
        </p>
    </div>
    <div style="text-align:center;margin: 10px;">
        <a href="{{ link }}" style="background-color: #00BFFF;border-radius: 5px;color: white;padding: .5em;text-decoration:none;">Reset password</a>
    </div>
</div>